################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/5505616d-b0e4-423b-b3d4-8d0408b340b5.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/dcddc139-5e1a-4d4c-b87e-7d5fcb3b103f.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/e393ad07-441e-4ef4-978f-63c255522f27.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/063e1476-d2a5-40fb-b1dc-a54ffd4984e1.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/633a0366-2c14-4d5d-a08a-3905196a6db7.vsidx
