################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/5505616d-b0e4-423b-b3d4-8d0408b340b5.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/dcddc139-5e1a-4d4c-b87e-7d5fcb3b103f.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/e393ad07-441e-4ef4-978f-63c255522f27.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/063e1476-d2a5-40fb-b1dc-a54ffd4984e1.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/633a0366-2c14-4d5d-a08a-3905196a6db7.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/c46f5734-94f2-4cb0-80ed-f75c88ed425f.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/0df7ca68-754a-41c5-bfef-975fd211b986.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/353454c5-fa52-415a-8b7e-72f2e3ccda63.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/52171c9f-e47a-4b7b-a6d1-ba2a2a0597a2.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/72dd369f-870b-42a1-bb0b-50cb3dca6635.vsidx
/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/9aba92bf-3c94-42b6-9f24-ee37d5295b8b.vsidx
*.vsidx
