################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Colleague Information Portal/CIP_Tool - V11/.vs/CIP_Tool/FileContentIndex/5505616d-b0e4-423b-b3d4-8d0408b340b5.vsidx
